@using System.Web.Helpers;
@{
    ViewBag.Title = "EPL Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.tabs.css")">
    <!-- Additional IE/Win specific style sheet (Conditional Comments) -->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.tabs-ie.css")">
        <![endif]-->
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.1.3.1.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.history_remote.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tabs.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput-1.2.2.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/tools.js")"></script>
    <script type="text/javascript">
        @*var dmrChargeList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.DmrChargeList))*@
    </script>
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/eplPPJK.js")"></script>
}

<div id="container_seaimportdetail" style="margin: 10px;">
    <div id="seaimportdetail" class="easyui-panel" style="text-align: left;"
            data-options="modal:true" title="@ViewBag.Title">

        <div id="seaimport_form_toolbar" class="form_toolbar">
            <a id="seaimport_form_btn_save" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">SAVE</a>
            <a id="seaimport_form_btn_cancel" href="@Url.Action("Index", new { type = Request.QueryString["JobId"] })" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-back'">Back</a>
            <a id="seaimport_form_btn_open_close_epl" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-book'" style="display: none">Close EPL</a>
            <a id="seaimport_form_btn_print" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-print'">Print EPL</a>
        </div>

        <div id="seaimportdetail_content" style="overflow: auto;">
            <form id="frmseaimport">
                <!-- Shipment Order -->
                <div style="display: inline-block; padding: 10px" id="shipmentorder_content">
                    <div class="easyui-panel" style="width: auto !important; border: none !important;">
                        <table width="100%" border="0">
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellpadding="1" cellspacing="1">
                                        <tr>
                                            <td width="130px" style="white-space: nowrap">
                                                <label>Shipment Order Number</label></td>
                                            <td width="220px">
                                                <input id="txtSEshipmentno" type="text" disabled="disabled" size="20" maxlength="25">
                                                <input id="btnSEshipmentno" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                                            </td>
                                            <td width="80px" style="text-align: right">
                                                <label>Consignee</label></td>
                                            <td width="">
                                                <input id="txtSEconsignee" type="text" disabled="disabled" size="35" maxlength="25"></td>
                                            <td width="100px" style="text-align: right" nowrap="true">
                                                <label>Date Exchange Rate</label></td>
                                            <td width="" style="text-align: right">
                                                <input id="txtSEdateexchangerate" style="text-align: right" type="text" disabled="disabled" size="10" maxlength="25"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>ETD / ETA</label></td>
                                            <td width="">
                                                <input id="txtSEetd" type="text" disabled="disabled" size="15" maxlength="25"></td>
                                            <td width="80px" style="text-align: right">
                                                <label>Agent</label></td>
                                            <td width="">
                                                <input id="txtSEagent" type="text" disabled="disabled" size="35" maxlength="25"></td>
                                            <td width="100px" style="text-align: right" nowrap="true">
                                                <label>Exchange Rate</label></td>
                                            <td width="" style="text-align: right">
                                                <input id="txtSEexchangerate" type="text" disabled="disabled" size="10" maxlength="25" class="textright editable easyui-numberbox" data-options="precision:2,groupSeparator:','" />
                                        </tr>
                                        <tr>
                                            <td>
                                            <td width="">
                                            <td class="textright">
                                                <label>Close EPL</label></td>
                                            <td width="">
                                                <input id="txtSEcloseepl" class="textright" type="text" disabled="disabled" size="5" maxlength="25"></td>
                                            <td class="textright">
                                                <label>Job Entry Date</label></td>
                                            <td width="" style="text-align: right">
                                                <input id="txtSEjobentrydate" class="textright" type="text" disabled="disabled" size="10" maxlength="25"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="SEtabs-1" style="width: 100%; padding-right: 20px; padding-top: 10px">
                                        <ul class='tabs' style="width: 600px !important;">
                                            <li class="tabs-selected"><a href="#tabs_incconsignee"><span>Income</span></a></li>
                                            <li><a href="#tabs_incagent"><span>Cost</span></a></li>
                                        </ul>
                                        <div id="tabs_incconsignee" title=".:Inc Consignee:." class="tabs-container">
                                            <table width="100%" border="0" cellpadding="1" cellspacing="1" id="tbl_incconsignee">
                                            </table>
                                            <br />
                                            <input type="button" id="btn_add_inc_consignee" value="Add" class="btnSubmit" />
                                            <input type="button" id="btn_edit_inc_consignee" value="Edit" class="btnSubmit" />
                                            <input type="button" id="btn_delete_inc_consignee" value="Delete" class="btnSubmit" />
                                        </div>
                                        <div id="tabs_incagent" title=".:Inc Agent:." class="tabs-container">
                                            <table width="100%" border="0" cellpadding="1" cellspacing="1" id="tbl_incagent">
                                            </table>
                                            <br />
                                            <input type="button" id="btn_add_inc_agent" value="Add" class="btnSubmit" />
                                            <input type="button" id="btn_edit_inc_agent" value="Edit" class="btnSubmit" />
                                            <input type="button" id="btn_delete_inc_agent" value="Delete" class="btnSubmit" />
                                        </div>
                                       
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <fieldset class="ui-widget-content ui-corner-all">
                                        <legend>Total Estimated</legend>
                                        <table>
                                            <tr>
                                                <td></td>
                                                <td class="textcenter">Income</td>
                                                <td class="textcenter">Cost</td>
                                                <td class="textcenter">Total</td>
                                            </tr>
                                            <tr>
                                                <td>USD</td>
                                                <td>
                                                    <input id="txtEstIncConsigneeUsd" type="text" disabled="disabled" size="10" maxlength="25" class="textright editable easyui-numberbox" data-options="precision:2,groupSeparator:','" />
                                                </td>
                                                <td>
                                                    <input id="txtEstIncAgentUsd" type="text" disabled="disabled" size="10" maxlength="25" class="textright editable easyui-numberbox" data-options="precision:2,groupSeparator:','" />
                                                </td>
                                                <td>
                                                    <input id="txtEstTotalUsd" type="text" disabled="disabled" size="10" maxlength="25" class="textright editable easyui-numberbox" data-options="precision:2,groupSeparator:','" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>IDR</td>
                                                <td>
                                                    <input id="txtEstIncConsigneeIdr" type="text" disabled="disabled" size="10" maxlength="25" class="textright editable easyui-numberbox" data-options="precision:2,groupSeparator:','" />
                                                </td>
                                                <td>
                                                    <input id="txtEstIncAgentIdr" type="text" disabled="disabled" size="10" maxlength="25" class="textright editable easyui-numberbox" data-options="precision:2,groupSeparator:','" />
                                                </td>
                                                <td>
                                                    <input id="txtEstTotalIdr" type="text" disabled="disabled" size="10" maxlength="25" class="textright editable easyui-numberbox" data-options="precision:2,groupSeparator:','" />
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- List Dialog -->


    <!-- Dialog Non Agent (Inc Consignee, Cost Depo, Cost EMKL, Cost SSLine, Cost Rebate) -->
    <div id="lookup_div_non_agent" class="easyui-dialog" title="Inc Consignee" style="padding: 0px 5px; height: 480px; width: 650px;"
        data-options="iconCls:'icon-tip',modal:true">
        <div id="lookup_toolbar_non_agent" class="grid_toolbar">
            <a id="lookup_btn_add_non_agent" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Save</a>
            <a id="lookup_btn_cancel_non_agent" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_non_agent" border="0" class="dummyClass ui-jqgrid-htable" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <!--- Income -->
                <tr class="consignee_info non_agent_info" style="display: none;">
                    <td width="200px">Invoice To</td>
                    <td colspan="3"></td>
                </tr>
                <tr class="consignee_info non_agent_info" style="display: none;">
                    <td>Contact</td>
                    <td colspan="3">
                        <input id="txtISkdconsignee" type="text" size="5" maxlength="7" disabled="disabled" />
                        <input id="btnISconsignee" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                        <input id="txtISnmconsignee" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />

                    </td>
                </tr>
                <!---Cost -->
                <tr class="depo_info non_agent_info" style="display: none;">
                    <td width="200px">Cost To</td>
                    <td colspan="3"></td>
                </tr>
                <tr class="depo_info non_agent_info" style="display: none;">
                    <td>Contact</td>
                    <td colspan="3">
                        <input id="txtISkddepo" type="text" size="5" maxlength="7" disabled="disabled" />
                        <input id="btnISdepo" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                        <input id="txtISnmdepo" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td>Account</td>
                    <td colspan="3">
                        <div style="float: left; width: 120px">
                            <input id="txtISkdaccount" type="text" size="5" maxlength="7" disabled="disabled" />
                            <input id="btnISaccount" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top">Account Name</td>
                    <td colspan="3">
                        <input id="txtISnmaccount" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td valign="top">Description</td>
                    <td colspan="3">
                        <textarea id="txtISdesc" rows="5" cols="57"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">
                        <table style="border: none !important">
                            <tr style="border: none !important">
                                <td style="border: none !important">
                                    <label style="color: #ff6a00; font-weight: bold;">
                                        <input type="radio" name="optIScurrencytype" id="optIScurrencytypeUSD" checked="checked" />USD</label>
                                </td>
                                <td style="border: none !important">
                                    <label style="color: #0026ff; font-weight: bold;">
                                        <input type="radio" name="optIScurrencytype" id="optIScurrencytypeIDR" />IDR</label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td nowrap style="white-space: nowrap">Quantity Unit</td>
                    <td colspan="3">
                        <input id="txtISquantity" type="text" size="10" class="textright easyui-numberbox" data-options="precision:4,groupSeparator:','" value="0" />
                    </td>
                </tr>
                <tr>
                    <td nowrap style="white-space: nowrap">Per Unit Cost</td>
                    <td>
                        <input id="txtISperunitcost" type="text" size="10" class="textright easyui-numberbox" data-options="precision:2,groupSeparator:','" value="0" />
                    </td>
                    <td>Date Rate</td>
                    <td>
                        <input id="txtISdaterate" type="text" size="10" disabled="disabled" />

                    </td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td width="70%">
                        <input id="txtISamount" type="text" size="10" class="textright easyui-numberbox" data-options="precision:2,groupSeparator:','" value="0" />
                    </td>
                    <td>Exchange Rate</td>
                    <td>
                        <input id="txtISexchangerate" type="text" size="10" disabled="disabled" />

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- END Dialog Non Agent (Inc Consignee, Cost Depo, Cost EMKL, Cost SSLine, Cost Rebate) -->

    <!-- Look Up shipmentorder -->
    <div id="lookup_div_shipmentorder" class="easyui-dialog" title="List Shipment Order" style="padding: 0px 5px; height: 480px; width: 600px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_shipmentorder" class="grid_toolbar">
            <a id="lookup_btn_add_shipmentorder" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_shipmentorder" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_shipmentorder" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_shipmentorder" class="scroll" style="text-align: center;"></div>
    </div>
    <!-- END Look Up shipmentorder -->

    <!-- Look Up Consignee -->
    <div id="lookup_div_consignee" class="easyui-dialog" title="List Consignee" style="padding: 0px 5px; height: 480px; width: 485px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_consignee" class="grid_toolbar">
            <a id="lookup_btn_add_consignee" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_consignee" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_consignee" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_consignee" class="scroll" style="text-align: center;"></div>
    </div>
    <!-- END Look Up Consignee -->

    <!-- Look Up EMKL -->
    <div id="lookup_div_emkl" class="easyui-dialog" title="List EMKL" style="padding: 0px 5px; height: 480px; width: 485px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_emkl" class="grid_toolbar">
            <a id="lookup_btn_add_emkl" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_emkl" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_emkl" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_emkl" class="scroll" style="text-align: center;"></div>
    </div>
    <!-- END Look Up EMKL -->

    <!-- Look Up SSLine -->
    <div id="lookup_div_ssline" class="easyui-dialog" title="List SSLine" style="padding: 0px 5px; height: 480px; width: 485px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_ssline" class="grid_toolbar">
            <a id="lookup_btn_add_ssline" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_ssline" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_ssline" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_ssline" class="scroll" style="text-align: center;"></div>
    </div>
    <!-- END Look Up SSLine -->

    <!-- Look Up Depo -->
    <div id="lookup_div_depo" class="easyui-dialog" title="List Depo" style="padding: 0px 5px; height: 480px; width: 485px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_depo" class="grid_toolbar">
            <a id="lookup_btn_add_depo" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_depo" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_depo" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_depo" class="scroll" style="text-align: center;"></div>
    </div>
    <!-- END Look Up Depo -->

    <!-- Look Up Agent -->
    <div id="lookup_div_agent" class="easyui-dialog" title="List Agent" style="padding: 0px 5px; height: 480px; width: 485px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_agent" class="grid_toolbar">
            <a id="lookup_btn_add_agent" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_agent" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_agent" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_agent" class="scroll" style="text-align: center;"></div>
    </div>
    <!-- END Look Up Agent -->

    <!-- Look Up Account -->
    <div id="lookup_div_account" class="easyui-dialog" title="List Account" style="padding: 0px 5px; height: 480px; width: 485px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_account" class="grid_toolbar">
            <a id="lookup_btn_add_account" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_account" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_account" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_account" class="scroll" style="text-align: center;"></div>
    </div>
    <!-- END Look Up Account -->

    <!-- Look Up Container -->
    <div id="lookup_div_container" class="easyui-dialog" title="List Container" style="padding: 0px 5px; height: 480px; width: 485px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_container" class="grid_toolbar">
            <a id="lookup_btn_add_container" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_container" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_container" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_container" class="scroll" style="text-align: center;"></div>
    </div>

    <!-- END Look Up Container -->

    <!-- END List Dialog -->
</div>
